<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- Favicons -->
    @* <link rel="apple-touch-icon" href="_content/HandHelUi.Shared/assets/img/favicon180.png" sizes="180x180" /> *@
    <link rel="icon" href="_content/HandHelUi.Shared/assets/img/favicon32.png" sizes="32x32" type="image/png" />
    @* <link rel="icon" href="_content/HandHelUi.Shared/assets/img/favicon16.png" sizes="16x16" type="image/png" /> *@
    <link rel="stylesheet" href="_content/HandHelUi.Shared/app.css" />
    <link rel="stylesheet" href="HandHelUi.Web.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
